body {
  background-color: rgb(47, 46, 46);
  margin: 0;
}

button {
  background-color: rgb(47, 46, 46);
  border-radius: 5px;
  border-color: grey;
  color: grey;
  display: inline-block;
  font-size: 30px;
  justify-content: space-around;
}

.container {
  color: white;
  display: flex;
  font-family: sans-serif;
  font-size: 60px;
  font-weight: bolder(100);
  justify-content: space-around;
}

.score {
  background-color: black;
  border-radius: 15px;
  color: red;
  display: flex;
  font-size: 80px;
  font-weight: bolder;
  justify-content: space-around;
}